span,
li {
  font-weight: normal;
}

.form-country {
  padding: 20px;
}

.country-input {
  padding: 10px;
  font-size: 20px;
  width: 600px;
}

.country-list {
  display: none;
  padding: 40px;
}

.country-list li {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.country-info {
  display: none;
  padding-left: 70px;
  padding-right: 50px;
}

.country-name {
  font-size: 60px;
  font-weight: 900px;
  text-align: center;
}

.country-block {
  display: flex;
  font-size: 30px;
  font-weight: 700;
}

.country-block div {
  width: 50%;
}

.country-flag {
  width: 100%;
  max-height: 500px;
}

.country-languages-list li {
  padding-top: 10px;
  padding-left: 10px;
}
